.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Output/
*.accdb
Info/
*.xlsx
*.lnk
*.ini
*.mxd
*.docx
*.gsheet
*.xls
*.csv
*.jpeg
*.zip
*.ini
*.laccdb
*.Rproj
*.html
*.png
*.md
*.xml
*.txt
*.pdf
Monochamus_X8_inbo2020/
*.pptx

